/* -----------========custom css ===========--------  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
}
:root{

    /*color */
    ---yellow-color:#F3C242;
    ---white-color:#FFFFFF;
    ---white-grey-color:#D0D0D0;
    ---black-color: #000000;
    ---black-grey-color: #131313;
    
   
    /* font  */
    --font-90-h1: 90px;
    --font-60-h2: 60px;
    --font-40-h3: 40px;
    --font-24-h5: 24px;
    --font-14: 14px;
    --font-15: 15px;
    --font-36-h4: 36px;
    

   
    /* more fontsize  */
    --font-20: 20px;
    --font-70: 70px;
    
    
    
}
*:before, 
*:after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
a{
    cursor: pointer;
    display: block;
    font-family:  "Raleway", sans-serif;
}
h1, 
h2, 
h3, 
h4, 
h5, 
h6{
    font-family: "Fjalla One", sans-serif;

}

html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
  
    scroll-behavior: smooth;
    font-family: "Raleway", sans-serif; 
    max-width: 100%;
    height: auto;
    background-color: var(---black-grey-color);
   
    color: var(---white-color);
   
} 
.container{
    padding: 2% 5%;
}
section{
    
}


.mobile-nav img{
    margin:10% 15%;
}
.mobile-nav ul{
    padding: 35px;
    margin: 5%;
}
.mobile-nav li {
    margin: 8% 0;
}
.mobile-nav li a{
    text-transform: capitalize;
    font-size: var(--font-20);
    color: var(---yellow-color);
    font-weight: 500;
}
.mobile-nav li a:hover{
    color: var(---white-color);
}
.mobile-nav-social{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px;
    margin: 5%;
    gap: 5px;
    
}
.mobile-nav-social a{
    padding: 5px;
    margin: 3%;
    font-size: 20px;
    background-color: var(---yellow-color);
    border-radius: 100%;
}
.mobile-nav-social a:hover{
    background-color: #D0D0D0;
}
.mobile-nav-social i{
    color: var(---black-color);
}

.menu-icon i{
    color: var(---yellow-color);
    background-color: #131313;
    font-size: var(--font-36-h4);
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 100%;
}



/* ======================= main section ==========================  */
header{
    width: 100%;
    height: auto;
    
    margin:  0 auto;
}
.head{
   
    width: 100%;
    background-color: #aab1c700;
    margin:  0 auto;
    padding: 1.8rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1; 
    
}
.head .logo img{
    width: 150px;
    height: auto;
    cursor: pointer;
}
 .nav ul {
    display: flex;
    width: 100%;
}
.nav ul li a{
    margin: 0 15px;
    cursor: pointer;
    color: var(---white-color);
    text-transform: capitalize;
    font-size: var(--font-15);
    font-weight: 500;
    transition: 0.4s;
    display: block;
    position: relative;
    
}
.nav  li a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    margin: 0 auto;
    top: 20px;
    left: 0px;
    background-color: var(---yellow-color);
    transition: 0.3s ease-in-out;
}
.nav  li a:hover::after{
    width: 100%;
}


 #active, .nav ul li a:hover{
    color: var(---yellow-color);
    
}
.menu-icon{
    display: none;
}

 .bg-color{
    background: url(img/hero-section-min.jpg) ;
    background-position: center top;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#about-Html .bg-color{
    background: url(img/about-me-min-1024x683.jpg) ;
    background-position: center ;
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.9;

}


.bg-color::after, 
#about-Html .bg-color::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
} 
.content{
    position: absolute;
    top: 20%;
    left: 0;
    max-width: 100%;
    margin: 5% 3%;
}
.content h5{
    font-size: var(--font-24-h5);
    color: var(---yellow-color);
    font-weight: 400;
    opacity: 0.9;
   margin-top: 5%;

}
.content h1{
    font-size: var(--font-90-h1);
    color: var(---white-color);
    text-transform: capitalize;
    margin-top: 2%;
    font-weight: 500;
    line-height: 110px;
}
.content .btn, .volume-card .btn{
    width: 60%;
    border: 1px solid var(---yellow-color);
    padding:10px 5px;
    text-align: center;
    color: var(---yellow-color);
    text-transform: uppercase;
    margin-top: 20%;
    
}
#about-Html .content{
    text-align: center;
    position: absolute;
    max-width: 100%;
    margin:  0 auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content h2{
    font-size: var(--font-90-h1);
    color: var(---yellow-color);
    font-weight: 400;
    width: 100%;
}
.content p{
    font-size: var(--font-14);
    color: var(---white-grey-color);
    margin-top:10px;
}
.btn:hover{
    background-color: var(---yellow-color);
    color: var(---black-color);

}
.content .social{
    margin-top: 20%;
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}
.social a{
   color: var(---black-color);
   background-color:var(---yellow-color);
   padding: 2px 5px;
   border-radius: 50%;
   font-size: 22px;
   margin: 1%;
   display: block;
   
}
.social a:hover{
    background-color: #000000;
    color: #D0D0D0;
}
.social i{
    color: var(---black-grey-color);
    font-size: 18px;
}
.social i:hover{
    color: #F3C242;
}
.content-hero{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 3% 0 0;
    height: auto;
    background-color: #000000;
}
.content-hero h4{
    font-size: var(--font-36-h4);
    font-weight: 400;
    text-transform: capitalize;
    line-height: 50px;
    margin-bottom: 1.5rem;
    color: var(---yellow-color);
    opacity: 0.9;
}
.content-hero p{
    font-size: var(--font-15);
    line-height: 25px;
    margin: 0 auto;
    max-width: 90%;
    color: var(---white-grey-color);
}
.content-hero h5{
    font-size: var(--font-24-h5);
    font-weight: 400;
    margin-top: 3%;

}
/* =======================================main section start here ===========================  */
#award-skill{
    background-image: url(img/stay-in-touch.jpg);
    background-position: center ;
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 270vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#award-skill::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.966);
} 
 .award{
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   margin-top: 10%;
   text-align: center;
     
}
.award h3, .lesson h3, .tour h3{
    font-size: var(--font-40-h3);
    font-weight: 500;
    text-transform: uppercase;
    color: var(---yellow-color);
    margin-bottom: 10px;
}
.award p{
    font-size: var(--font-15);
    font-weight: 300;
    color: var(---white-grey-color);
    margin-bottom: 45px;
}
.award .img{
    width: 300px;
    margin-bottom: 10%;
}
.award-container{
    width: 100%;
    padding: 2%;
}
.award-card{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 100%;
}
.award-left, .award-right{
    width: 100%;
}
.award-left img, .award-right img{
    height: 500px;
    object-fit: cover;
    width: 100%;
    transition: 0.4s;
}
.award-left img:hover, .award-right img:hover{
    transform: scale(1.05);
}

.award-right h3, .award-left h3{
    text-align: left;
    padding: 0 20%;
    margin-top: 40px;
}
.award-right p, .award-left p{
    text-align: left;
    padding: 0 20%;
    margin-top: 40px;
    font-size: var(--font-14);
    line-height: 25px;
    color: var(---white-color);
}
.award-right p::first-letter, 
.award-left p::first-letter{
    font-size: var(--font-20);
    font-weight: 500;
    color: var(---yellow-color);
    padding: 2px;
}
.skill{
    margin-top: 3%;
    
}
.skill-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.skill-image-container .img-card{
    position: relative;
}
.skill-image-container .img-card::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(7, 1, 1);
}
.img-card img{
    position: relative;
    width: 700px;
    height: 500px;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
}
.img-card img:hover{
    opacity: 0.6;

}
.img-content{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-content h2{
    font-size: var(--font-60-h2);
    color: var(---yellow-color);
    font-weight: 400;
}
/* -------------------------------lession section------------------  */
#lesson-section{
    position: relative;
    z-index: 3;
    width:100%;
    margin-top: 1100px;
    height: auto;
}
#lesson-section .lesson{
    width: 100%;
    margin-bottom: 10%;
    text-align: center;
}
#lesson-section img{
    width: 700px;
    position: relative;
}
.lesson-content{
    background-color: var(---yellow-color);
    width: 700px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 15%;
    transform: translate(-50%, -50%);
    padding: 5%;
}
.lesson-content h3{
    font-size: var(--font-40-h3);
    font-weight: 300;
    color: var(---black-grey-color);
    margin-bottom: 15px;
}
.lesson-content h6{
    font-size: var(--font-15);
    color: var(---black-color);
    font-weight: 300;
    margin-bottom: 25px;
}
.lesson-content p{
    font-size: var(--font-14);
    color: #131313;
    width: 500px;
    font-weight: 500;
    margin-bottom: 25px;
}
.lesson-content .btn{
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: var(---black-color);
    color: var(---yellow-color);
    width: 20%;
    text-align: center;
    margin-bottom: 35px;
}
.lesson-content .btn:hover{
    background-color: var(---white-grey-color);
    color: var(---black-color);
}
/* --------------------------------------------------------  */
#tour-section{
    padding: 10% 0 2%;
    width: 100%;
}
.tour{
    text-align: center;
    margin-bottom: 4%;
}
.tour p{
    font-size: var(--font-15);
    color: var(---white-color);
}
.tour-card{
    width: 100%;
    background-color: var(---black-color);
    padding:  10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2.5% 0;
}
.tour-card h4{
    font-size: var(--font-36-h4);
    font-weight: 400;
    color: var(---yellow-color);
}
.tour-card h5{
    font-size: var(--font-24-h5);
    font-weight: 400;
    color: var(---white-color);
}
.tour-card .btn{
    padding: 10px;
    text-transform: uppercase;
    background-color: transparent;
    color: var(---yellow-color);
    border: 1px solid var(---yellow-color);
    width: 15%;
    text-align: center;
    margin-bottom: 35px;
    display: block;
    margin-top: 2%;
}
.tour-card .btn:hover{
    background-color: var(---yellow-color);
    color: var(---black-color);
    
}

/* ---------------------------------------  */
#mail-section{
    padding: 5% 0;
    width: 100%;
}
.mail{
    padding: 2% 0;
    position: relative;
}
.mail img{
    position: relative;
    opacity: 0.5;
    width: 50%;
    height: 500px;
    object-fit: cover;
    z-index: 1;

}
.mail-content{

    max-width:  700px;
    height: 380px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 5%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 1;
}
.mail-content h4{
    font-size: var(--font-36-h4);
    font-weight: 300;
    color: var(---yellow-color);
    line-height: 50px;
    width: 500px;
    
}
.mail-content p{
    font-size: var(--font-14);
    color: var(---white-color);
    width: 400px;
    margin-bottom: 45px;


}
.email-form{
    text-align: center;
    width: 500px;
    display: flex;
    gap: 20px;
}
.email-form input{
    padding: 15px;
    width: 100%;
    border: 0;
    outline: 0;
}
.email-form .btn{
    width: 35%;
    background-color: transparent;
    border: 1px solid var(---yellow-color);
    text-transform: uppercase;
    font-size: var(--font-15);
    color: var(---yellow-color);
    display: block;
    cursor: pointer;
   
}
.email-form .btn:hover{
    background-color: #F3C242;
    color: var(---black-color);
}
/* ======================================footer =================================  */
footer{
    width: 100%;
}
.foot{
   width: 100%;
}
.foot-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    gap: 30px;
}
.foot-container .foot-card{
    width: 80%;
    align-items: center;
    justify-content: center;
    padding: 5% 0;
}
.foot-card img{
    width: 180px;
}
.foot-card p{
    margin-bottom: 30px;
    padding-top:8%;
    color: var(---white-grey-color);
    font-size: var(--font-14);
    line-height: 20px;
}
.foot-card .footer-text{
    font-size: var(--font-24-h5);
    font-weight:300 ;
    color: var(---yellow-color);
    margin-bottom: 30px;
    text-transform: capitalize;
}
.foot-card ul {
    display: flex;
    flex-direction: column;
}
.foot-card li a{
    color: var(---white-grey-color);
    font-size: var(--font-15);
    font-weight: 600;
    margin: 2% 0;
    text-transform: capitalize;
}
.foot-card li a:hover{
    color: var(---yellow-color);
}
.footer-link, .copy{
    text-align: center;
    padding: 3% 0;
}
.footer-link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-link li a{
    color: var(---yellow-color);
    font-size: var(--font-14);
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}
.footer-link li a:hover{
    color: var(---white-color);
}
/* ====================================about HTML=============================  */
#about-html-about{
    padding: 5% 2%;
}
.about-us-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}
.about-us-container .about-us-card{
    width: 100%;
}
.about-us-card .about-img{
    opacity: 0.9;
    transition: 0.3s ease;

}
.about-us-card .about-img:hover{
    opacity: 0.8;
    transform: scale(1.01);

}
.aboutus-content{
    max-width: 100%;
    margin-left: 10%;
}
.about-us-card h3{
    font-size: var(--font-40-h3);
    font-weight: 300;
    color: var(---yellow-color);
    margin-bottom: 30px;
    text-align: left;
}
.about-us-card p{
    font-size: var(--font-15);
    color: var(---white-grey-color);
    line-height: 25px;
    margin-bottom: 20px;
    text-align: justify;
}
.about-us-card p::first-letter{
    font-size: var(--font-20);
    color: var(---yellow-color);
    font-weight: 700;
    padding: 2px;
}
.about-us-card .sign{
    width: 180px;
}
.about-img-card{
  width: 98%;
  margin: 0 auto;
  transform: rotate(-3deg);
  padding: 5% 0;
  

    
}
.about-img-card img{
  width: 100%; 
    margin:  0 auto;
    height: 50vh;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
    
}
.about-img-card img:hover{
    opacity: 0.9;
}
.about-img-content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin:  0 auto;
    transform: translate(-50%, -50%);
    
}
.about-img-content h2{
    transform: rotate(3deg);
    font-size: var(--font-60-h2);
    font-weight: 400;
    color: var(---yellow-color);
    text-transform: capitalize;
}
#brand-group{
    padding: 8% 0;
    width: 100%;
}
.band-group-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    padding: 2%;
}
.band-group-container .bands-group-card, 
.prestige-award-container .prestige-award-card{
    width: 100%;
    text-align: center;
}
.bands-group-card h3, .prestige-award-card h3{
    font-size: var(--font-40-h3);
    color: var(---yellow-color);
    font-weight: 400;
    margin-bottom: 25px;
    text-transform: capitalize;
    text-align: left;
}
.bands-group-card p, .prestige-award-card p{
    font-size: var(--font-15);
    font-weight: 500;
    color: var(---white-grey-color);
    line-height: 25px;
    margin-bottom: 30px;
    text-align: justify;
}
.bands-group-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1% 0;
}
.bands-group-content .bands-content-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin: 1% 0;
    
}
.bands-content-card img{
    width: 100%;
}
.bands-content-card img:hover{
    transform: scale(1.02);
}
.band-img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10%;
}
.band-img-text h5{
    font-size: var(--font-24-h5);
    color: var(---yellow-color);
    font-weight: 400;
    margin-bottom: 2%;
}
.band-img-text p{
    font-size: var(--font-15);
    color: var(---white-grey-color);
    font-weight: 600;
}
.bands-group-card .guiter{
    width: 220px;
    height: 650px;
   
    margin: 0 auto;
   
}
.bands-group-card .performance-content{
    margin-top: 25%;
    width: 100%;
}
.performance-content .performance-list{
    
    width: 100%;
    text-align: left;
}
.performance-list li{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.performance-list li i{
    font-size: var(--font-15);
    color: var(---yellow-color);
    margin-top: 5px;
}
.performance-list li p{
    color: var(---yellow-color);
    opacity: 0.9;
    text-align: left;
    text-transform: capitalize;
}
/* -----------------------------------------------------------------  */
.prestige-award-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
    margin: 5% 0;
    padding:  0 2%;
    text-align: left;
    
}
.prestige-award-card img{
    width: 200px;
    
}
.prestige-award-card .logos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 15%;
}
/* ==================================lesson HTML==========================  */

#lesson-html{
    background-image: url(img/stay-in-touch.jpg);
    background-position: center ;
    
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 250vh;
    margin:3% 0;
    z-index: 2;
   
}
#lesson-html::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.829);
} 
#lesson-html{
   
}
#lesson-html .volume{
   background-color: transparent;
    padding: 2%;
    position: absolute;
    z-index: 1;
    
}
.volume .vol-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 15px;
    
}
.vol-container .vol-card{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.vol-content{
    text-align: center;
}
.vol-content img{
    width: 100%;
    padding: 1%;
    border-radius: 10px;
    opacity: 0.9;
}
.vol-content img:hover{
    opacity: 0.8;

}
.vol-content a{
    color: var(---yellow-color);
    text-transform: uppercase;
    border: 1px solid var(---yellow-color);
    padding: 10px 15px;
    max-width: 50%;
    margin:  0 auto;
    margin-top: 10%;
    display: block;
}
.vol-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    
}
.vol-text h4{
    font-size: var(--font-36-h4);
    font-weight: 300;
    text-transform: capitalize;
    color: var(---yellow-color);
    
}

.vedio{
    width: 100%;
    height: auto;
    margin: 10% 0;
    
}
.video-content img{
    width: 140px;
    height: auto;
    padding: 1%;
    object-fit: cover;
    opacity: 1;

}
.video-content img:hover{
    opacity: 0.8;
}
#video-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 2%;
}
.video-card{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.video-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

}
.video-card a{
    display: block;
    color: var(---white-color);
    font-size: var(--font-15);
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
    margin-top: -2%;

}
.video-card a i{
    font-size: var(--font-20);
    padding-top: 5px;
    margin-right: 2px;
    display: inline-block;
}
.video-card a:hover{
    color: var(---yellow-color);
}
.video-text h5{
    font-size: var(--font-24-h5);
    font-weight: 400;
    color: var(---yellow-color);
    margin-bottom: 20px;
    width: 100%;
}
.video-text p{
    font-size: var(--font-14);
    font-weight: 600;
    color: var(---white-grey-color);
    line-height: 25px;
    width: 100%;
}

.video-text{
    width: 100%;

}


/* ================================ show HTML ================================  */

#events-section{
    margin: 5% 0;
    padding: 2% 0;
    text-align: center;
    width: 100%;
}
.event-card{
    
    width: 100%;
    text-align: center;

}
.event-card img{
   margin: 1% 0 3%;
    max-width: 100%;
    height: auto;
}
.event-card h5{
    font-size: var(--font-24-h5);
    font-weight: 300;
    color: var(---yellow-color);
    margin-bottom: 10px;
}
.event-card p{
    font-size: var(--font-15);
    color: var(---white-grey-color);
    font-weight: 600;
}
/* ------------------------------- -------------------- */
#show-ticket{
    width: 100%;
}
.show-ticket-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 35px;
}
.show-ticket-left,
.show-ticket-right{
    width: 100%;
}
.show-ticket-card{
    width: 100%;
    padding: 30px 25px;
    margin: 15px;
    background-color: var(---black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show-ticket-card h4{
    font-size: var(--font-20);
    font-weight: 300;
    color: var(---yellow-color);
    text-transform: capitalize;

}
.show-ticket-card p{
    font-size: var(--font-14);
    color: var(---white-grey-color);
    font-weight: 600;
    
    
}
.about-img-card a{
    transform: rotate(3deg);
    text-align: center;
    color: var(---yellow-color);
    padding: 10px 15px;
    border: 1px solid var(---yellow-color);
    background-color: transparent;
   
    display: block;
    width: 150px;
    margin:  0 auto;
    font-size: var(--font-15);
    text-transform: uppercase;
    font-weight: 800;
}

/* =======================================contact HTML ==================================  */
.contact-card{
    width: 100%;
    padding: 2%;
}
.manager-contact{
    background-color: var(---yellow-color);
    padding: 60px;
    margin: 3%;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
.manager-contact:hover{
    transform: scale(1.01);
}
.manager-contact h5{
    font-size: var(--font-36-h4);
    color: var(---black-color);
    font-weight: 300;
    margin-bottom: 20px;
}
.manager-contact p{
    font-size: var(--font-15);
    color: var(---black-grey-color);
    font-weight: 600;
    text-align: justify;
    line-height: 25px;
}
.contact-cotent{
    font-size: var(--font-20);
    width: 100%;
    margin:  5% 0;
}
.contact-cotent li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin: 3% 0;

}
.contact-cotent li p{
    font-size: 16px;
}
.contact-cotent i{
    color: var(---black-color);
    background-color: var(---white-color);
    padding: 2%;
    border-radius: 100%;
    cursor: pointer;
    font-size: 22px;
}
.contact-cotent i:hover{
    background-color: var(---black-color);
    color: var(---white-grey-color);
}
.contact-card form{
   
    width: 100%;
    padding: 20px;
    margin: 3%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
form input, textarea{
    width: 100%;
    padding: 15px;
    border: 0;
    outline: 0;
    resize: none;
    border-radius: 0 0 5px 5px;
    font-family: "Raleway", sans-serif; 
    font-size: var(--font-15);
    color: #000000;
    font-weight: 600;
}
input::placeholder,
textarea::placeholder{
  color: var(---black-grey-color);
    font-family: "Raleway", sans-serif; 
    font-size: var(--font-15);
    opacity: 0.5;
    text-transform: capitalize;
    
}
form a{
    color: var(---yellow-color);
    font-size: var(--font-15);
    text-transform: uppercase;
    padding: 10px 15px;
    border: 1px solid var(---yellow-color);
    cursor: pointer;
    max-width: 40%;
    text-align: center;
}
.volume img{
    position: absolute;
    z-index: 1;
    max-width: 170px;
    max-height: 400px;
    object-fit: cover;
    top: 80%;
    left: 48%;
    margin:  0 auto;
    transform: translate(-50%, -50%);
}
.footer-social{
   
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.footer-social a{
    display: block;
    color: var(---yellow-color);
    font-size: 28px;
    margin: 0 10px;
    transition: 0.2s;
}
.footer-social a:hover{
    color: var(---white-grey-color);
}
